* {
	font-family: Arial, sans-serif;
	padding: 0;
	margin 0;
}

header {
	 background-color:#E6E6E6;
	padding: 40px;
	text-align: center;
}

h1 {
	font-size: 90px;
	color: white;
	margin: 0;
	text-shadow: 0 4px 20px blue;
	text-transform: uppercase;
	
}

h2 {
	color: blue;
	
}

header img {
	border-radius: 70%;
	width: 300px;
	border: 30px solid #000066;
	box-shadow: 0 10px 20px white;
}


p, ol, ul {
	color: red;
	
}

.content {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 25px;
	

	
}

img.big-image{
	max-width: 100%;
	
}

p.caption{
	font-size: 16px;
	color: lightgrey;
	font-style: italic;
	text-align: center;
}

ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
	
}

ol{
  margin-bottom: 10px;	
	
}

a{
	color:blue;
	text-decoration: none;
	
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background: #E6E6E6;
	
}

footer ul {
	text-align: center;
	
}

footer ul li {
	display: inline-block;
	margin: 0 5px;
	
}
